.footer {
    background-color: #021116;
    color: #fff;
    padding: 40px 20px;
    text-align: left;
    max-width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.column {
    flex: 1;
    margin: 20px;
    min-width: 250px;
}

.footer-logo {
    width: 150px;
    height: auto;
    margin-left: 50px;
    margin-bottom: 15px;
}

h5 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 15px;
}

p {
    color: #bbb;
    margin-bottom: 10px;
}

.textop {
    color: #bbb;
    margin-bottom: 10px;
}

.social-link,
.contact-link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 1.1em;
    transition: color 0.3s ease-in-out;
}

.social-link i,
.contact-link i {
    margin-right: 10px;
    font-size: 1.5em;
}

.social-link:hover,
.contact-link:hover {
    color: #1080f2;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .column {
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-logo {
        margin: 0 auto 15px auto;
    }

    .textop {
        margin-bottom: 0px;
        padding-left: 70px;
        padding-right: 70px;
    }

    h5 {
        color: #fff;
        font-size: 1.5em;
        margin-bottom: 17px;
    }

    
    .social-link {
        margin-bottom: 5px;   
    }

    .contact-link{
        align-items: center;
        text-align: left;
        margin-left: 40px;
        margin-bottom: 10px;
        font-size: 1.1em;
        transition: color 0.3s ease-in-out;
    }

    .social-link i,
    .contact-link i {
        margin-right: 20px;
        font-size: 1.5em;
    }
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .column {
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-logo {
        margin: 0 auto 15px auto;
    }

    .textop {
        margin-bottom: 0px;
    }

    h5 {
        color: #fff;
        font-size: 1.5em;
        margin-bottom: 17px;
    }

    
    .social-link {
        margin-bottom: 5px;   
    }

    .contact-link{
        align-items: center;
        text-align: left;
        margin-left: 40px;
        margin-bottom: 10px;
        font-size: 1.1em;
        transition: color 0.3s ease-in-out;
    }

    .social-link i,
    .contact-link i {
        margin-right: 20px;
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {

    .column {
        margin-bottom: 30px;
        text-align: center;
    }

    p {
        color: #bbb;
        margin-bottom: 10px;
    }

    h5 {
        font-size: 1.3em;
    }

    .contact-link i {
        font-size: 1em;

    }

    .social-link i,
    .contact-link i {
        font-size: 1.2em;
    }
}

@media (max-width: 390px) {

    .footer-logo {
        margin: 0 30px 15px auto;
    }

    p {
        color: #bbb;
        font-size: 12px;
        margin-left: -40px;
    }

    h5 {
        font-size: 1.3em;
        text-align: left;
    }

    .contact-link{
        align-items: center;
        text-align: left;
        margin-left: 13px;
        margin-top: 0%;
        margin-bottom: 10px;
        font-size: 1em;
        transition: color 0.3s ease-in-out;
    }

    .social-link {
        margin-bottom: 9px;  
        margin-left: 30px;
        font-size: 1em; 
    }

    .social-link i,
    .contact-link i {
        font-size: 1.1em;
    }
}